# vi: ft=sh
# shellcheck disable=all

source_up_if_exists
dotenv_if_exists
export XDG_STATE_HOME="$PWD/.state"
use flake
watch_file $(fd -tf -enix)

if [[ -f "${PWD}/.venv/bin/activate" ]]; then
  source "${PWD}/.venv/bin/activate"
fi

if [[ -f "${PWD}/.envrc.local" ]]; then
  echo "including ${PWD}/.envrc.local"
  source "${PWD}/.envrc.local"
fi

export PYTHONBREAKPOINT=jdbpp.set_trace
export PYTHON_BASIC_REPL=1
